In [1]:
import pandas as pd

In [4]:
# creating series

a = [1,7,5,9,3]
b=pd.Series(a)
b

0    1
1    7
2    5
3    9
4    3
dtype: int64

In [37]:
# creating own labels

b=pd.Series(a,index =["x","y","z"])
print(b)

x    1
y    7
z    5
dtype: int64

In [13]:
# creating series from dictionaries

calories = {"day1":390,"day2":400,"day3":380}
s=pd.Series(calories)
calories
p=pd.Series(calories,index = ["day1","day2"])
print(p)

day1    390
day2    400
dtype: int64

In [14]:
f=[2,4,6,8,10]
g=pd.Series(f)
g

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [8]:
# slicing
c=b[0:2]
c

0    1
1    7
dtype: int64

In [10]:
# conditional operators
d=[b<9]
d

[0     True
 1     True
 2     True
 3    False
 4     True
 dtype: bool]

In [16]:
# aligment (+,-,*,/,%)
e=g+b
e

0     3
1    11
2    11
3    17
4    13
dtype: int64

In [18]:
h=g*b
h

0     2
1    28
2    30
3    72
4    30
dtype: int64

In [19]:
i=g/b
i

0    2.000000
1    0.571429
2    1.200000
3    0.888889
4    3.333333
dtype: float64

In [25]:
# Data frames

data = {
    'calories':[400,410,390],
    'duration':[45,50,40],
}
df=pd.DataFrame(data)
df

   calories  duration
0       400        45
1       410        50
2       390        40

In [31]:
# to locate or refer to a row

df.loc[1]

calories    410
duration     50
Name: 1, dtype: int64

In [38]:
# locating multiple rows

print(df.loc[[0,1]])

   calories  duration
0       400        45
1       410        50

In [43]:
# Named indexes: Add a list of names which gives each row a name

floors = {
    'Rooms':[3,4,5],
    'Rent':[30000,40000,45000],
}
df1=pd.DataFrame(floors,index = ["1st","Ground","Basement"])
print(df1)

          Rooms   Rent
1st           3  30000
Ground        4  40000
Basement      5  45000

In [46]:
# locating named indexes

print(df1.loc["1st"])

Rooms        3
Rent     30000
Name: 1st, dtype: int64

In [3]:
# read csv files
# load csv into dataframe

df2=pd.read_csv('D:\csv files/Data.csv')
print(df2)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [16]:
# Analyzing Data
# Printing specific number of rows from the top

print(df2.head(4))

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No

In [18]:
# Information about data

print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes
None

In [5]:
# tail method: For viewing the last rows of the dataframe

print(df2.tail(3))

   Country   Age   Salary Purchased
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes