In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#regression: for relationship 
#random selet: select one time only does not change its valu

In [5]:
#Importing the Dataset
dataset=pd.read_csv("/home/abbas/NAVTTEC/Dataset_files/csvfiles/Salary_Data.csv")
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [6]:
print(x)

NameError: name 'x' is not defined

In [12]:
print(y)

NameError: name 'y' is not defined

In [ ]:
#Spliting the dataset into training and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.15,randon_state=1)

In [15]:
#Training the simple linear regression model on training data
from sklearn.linear_model import LinearRegression
regress=LinearRegression()
regress.fit(X_train,y_train)

NameError: name 'X_train' is not defined

In [16]:
#to test the model we will give the testvalues to predict the salary
y_pred=regress.predict(X_test)
print(y_pred)

NameError: name 'X_test' is not defined

In [ ]:
print(y_test)

In [9]:
#Visualising the Training set result
#y_test contain the real salary and y_pred  contain the predicted salary
#We will plot the red plots for real salaries and blues straight lines for predicted salary
#we will plot the red plots for real salaries and blue straight lines for predi

In [10]:
#Visualize the Test set result
plt.scatter(X_test,y_test,color='red')
plt.title ("Salary vs Experience (Test set)")
plt.xlabel("Year of Expericene")
plt.ylabel("Salary")
plt.show()

NameError: name 'X_test' is not defined

In [11]:
#to check which coefficient your model have learned
regress.coef_

AttributeError: 'LinearRegression' object has no attribute 'coef_'

In [13]:
#to check what your intercept is learn by your model 
regress.intercept_

AttributeError: 'LinearRegression' object has no attribute 'intercept_'

In [14]:
#to check the accuracy ofyour model
regress.score(X_test,y_test)

NameError: name 'X_test' is not defined

In [ ]:
#to check the mean_sqr_error
from sklearn.metrics import mean_squared_error
print("Mean Sqr error is:" mean_squared_error(y_test,y_pred))