In [10]:
import pandas as pd

In [ ]:
#Pandas Interpolate
               it is used to fill all the nan values in dataframe/Series
#Parameters 
      df.interpolate()

In [3]:
#Method:
    index
    nearnest
    polynomial
    
axis:
    0 for rows 
    1 for ccolumn

In [4]:
#Limit:
    1
    2
    3

IndentationError: unexpected indent (<ipython-input-4-d8689de22c80>, line 2)

In [5]:
#Inplace:
   update the dframe if possible
    inplace=True

IndentationError: unexpected indent (<ipython-input-5-b580cbd9241d>, line 2)

In [6]:
#limit direction:
forword as default
backward
both

SyntaxError: invalid syntax (<ipython-input-6-22a45a42da95>, line 2)

In [ ]:
#pandas merge
  Merge funtion connects columns or indexes in dataframe based on me or more keys.

#Syntax:    
 df.merge()

#Parameters:
left:
right:
on:
    it considers the index or columns as key []

In [13]:
df=pd.read_csv('csvfiles/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [15]:
df1=pd.read_csv('csvfiles/Data.csv')
df1

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [16]:
df.merge(df,df1)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
#Indicator
     create new column and give info about dframe values 
    indicator=True
    
how:
    inner(intersection)
    left
    right
    outer(union)
    
left_index:
    when we have multiindex and right_index having different values

In [17]:
#pandas concat()
 it concatenates two series/dataframe easily.
    pd.concat([df1,df2])
    
#parameters:
obj:
axis
ignore
keys:
    it is used to separate multiple(series,dframe)

IndentationError: unexpected indent (<ipython-input-17-72ffd3cfb6cb>, line 2)

In [ ]:
#Pandas append():
it is used to append rows of other dataframe returning a new dframe object

df.appen()

#Parameters:
other 
ignore
ignoreindex
sort:
    sort=True

In [ ]:
#Pandas Melt():
It is used to transform or reshape data.
pd.melt(df)

change wide format to long format
id_vars[""]
values_vars[""]
var_name:
value:

In [1]:
#Pandas pivot table():
           it is used to summerize and aggregate all the lables of dataframe and return new dataframe

df.pivot_table()
index= column to aggregate

margin=True
column:till_value=0,1,5 to fill_value

    
agg_func:
    count
    mean
    sum
    max

IndentationError: unexpected indent (<ipython-input-1-ff3dc0691f87>, line 2)